p{
    color: rgb(239, 68, 6);
    font-size: 50px;
}
.test1{
    color: rgb(34, 183, 79);
    font-size: 200px;
}
#test2{
    color: rgb(46, 243, 6);
    font-size: 75px;
}
input{
    display:block;
    border: 3px solid red;
    padding: 3px;
}
ol:hover{
    background-color: blanchedalmond;
    width: 50%;
    color: blueviolet;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    
}
a:visited{
    color: rgb(230, 14, 158);
}
input:focus{
    color: rgb(10, 243, 96);
    font-size: 20px;
}
li:first-child{
  color: aqua;
}
li:last-child{
    color: cornflowerblue;
}
li:nth-child(2n){
    color: blueviolet;
}

h3::after {
    content: '-not easy' ;
}
.zind{
    background-color: rgb(160, 207, 209);
    
}
.cls1{
    background-color: blue;
    border: 10px solid red;
    position: relative;
    color: azure;
    width: 400px;
    top: 15px;
    left: 10px;
    z-index: 5;
}
.cls2{
    background-color: greenyellow;
    border: 10px solid;
    position: relative;
    padding: 10px;
    color: rgb(237, 10, 214);
    top: 0px; 
    width: 400px; 
    z-index: 3; 
}
#clsid2{
    border-left:20px solid ;
    border-image: linear-gradient(rgb(56, 154, 203),rgb(150, 35, 98)  );
    border-image-slice:  1 ;
}
.cls3{
    background-color: rgb(223, 166, 31);
    border: 5px solid rgb(59, 21, 174);
    position: relative;
   left: 10px;
    color: rgb(8, 235, 73);
    top: -20px; 
    width: 400px;
    z-index: 3;
}
.cls4{
    display: block;
    margin-bottom: 50px 40px;
    padding-bottom: 50px;
}